@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }
}
